.footer-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $blue2 !important;
    padding: 2px;
    color: $blue4;
    font-size: 0.6rem;
    text-align: center;

}